.vs/

ApiAntiFraud/bin/
ApiAntiFraud/obj/

ApiTransactions/bin/
ApiTransactions/obj/

Application/bin/
Application/obj/

ApplicationTests/bin/
ApplicationTests/obj/

Commons/bin/
Commons/obj/

Domain/bin/
Domain/obj/

ExternalServices/bin/
ExternalServices/obj/

Persistence/bin/
Persistence/obj/

bin/
obj/
postgresql/